<mdb-card>
  <a> mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
    mdbWavesEffect type="submit">Hiverina</a>
  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Hisoratra</strong>
    </h5>
  </mdb-card-header>


  <mdb-card-body class="px-lg-5 pt-0">


    <form class="text-center" style="color: #757575;">

      <div class="form-row">
        <div class="col">

          <div class="md-form">
            <input type="text" id="name" class="form-control" mdbInputDirective>
            <label for="name">Anaran'ny ekipako</label>
          </div>
        </div>
        <div class="col">

          <div class="md-form">
            <input type="email" id="coop" class="form-control" mdbInputDirective>
            <label for="coop">Ireo tompon'andraikitra</label>
          </div>
        </div>
      </div>


      <div class="md-form mt-0">
        <input type="email" id="email" class="form-control" mdbInputDirective>
        <label for="email">Adiresy mailaka</label>
      </div>

      <div class="md-form">
        <input type="password" id="pswd" class="form-control" aria-describedby="pswd"
          mdbInputDirective>
        <label for="pswd">Teny miafina</label>
      </div>


      <div class="md-form">
        <input type="text" id="tel" class="form-control" aria-describedby="tel"
          mdbInputDirective>
        <label for="tel">Laharana finday</label>
      </div>

      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
        mdbWavesEffect type="submit">Vita</button>

      <hr>

    </form>


  </mdb-card-body>

</mdb-card>