<div class="col-md-4 col-md-offset-4 m-auto">

  <a routerLink="/" mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
    mdbWavesEffect>
    <i class="fa fa-arrow-left pull-left"></i> Hiverina</a>

  <mdb-card>
    <mdb-card-header class="warning-color white-text text-center py-4">
      <h5>
        <strong>Hisoratra</strong>
      </h5>
      <p>Mila vonjy fa tena tapaka</p>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">

      <form class="text-center" style="color: #757575;">

        <div class="md-form">
          <input type="text" id="name" class="form-control" mdbInputDirective>
          <label for="name">Anarana</label>
        </div>

        <div class="md-form">
          <textarea type="text" id="why" class="md-textarea md-textarea-auto form-control" mdbInputDirective></textarea>
          <label for="why">Antony hilana vonjy</label>
        </div>

        <div class="md-form">
          <input type="text" id="phone" class="form-control" mdbInputDirective>
          <label for="phone">Laharana finday</label>
        </div>

        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
          mdbWavesEffect type="submit">Vita</button>

      </form>

    </mdb-card-body>

  </mdb-card>

</div>