<!-- Card -->
<div class="row">
  <div class="col-md-4 mt-1">
    <mdb-card>
      <mdb-card-body class="yellow">
        <mdb-card-title>
          <h4><i class="fa fa-group"></i> Hanangana ekipa</h4>
        </mdb-card-title>
        <mdb-card-text> Hanangana ekipa hanao kotikota </mdb-card-text>
        <a href="#" mdbBtn color="primary" class="w-100" mdbWavesEffect
          >Hanangana</a
        >
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-md-4 mt-1">
    <mdb-card>
      <mdb-card-body class="yellow">
        <mdb-card-title>
          <h4><i class="fa fa-money"></i> Mila vonjy</h4>
        </mdb-card-title>
        <mdb-card-text> Mila vonjy fa tena tapaka </mdb-card-text>
        <a href="#" mdbBtn color="primary" class="w-100" mdbWavesEffect
          >Hanangana</a
        >
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-md-4 mt-1">
    <mdb-card>
      <mdb-card-body class="yellow">
        <mdb-card-title>
          <h4><i class="fa fa-heart"></i> Vonjy aina</h4>
        </mdb-card-title>
        <mdb-card-text> Mila vonjy fa misy marary </mdb-card-text>
        <a href="#" mdbBtn color="primary" class="w-100" mdbWavesEffect
          >Hanome</a
        >
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<div class="col-md-4 m-auto">
  <mdb-card class="koti-action">
    <div class="flex">
      <a
        mdbBtn
        floating="true"
        color="primary"
        size="lg"
        mdbWavesEffect
        class="koti-round-btn"
      >
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
      </a>
      <a
        mdbBtn
        floating="true"
        color="secondary"
        size="lg"
        mdbWavesEffect
        class="koti-round-btn"
      >
        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
      </a>
    </div>
  </mdb-card>
</div>
