<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand>
        <a class="navbar-brand" href=""><img style="width: 50px;height: 50px" src="./assets/logo/apple-icon-114x114.png"/>&nbsp;KOTIKOTA</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text white-text">
            <a href="" routerLink="/login">Login</a>
        </span>
    </links>
</mdb-navbar>
<div class="col-md-12">
    <router-outlet></router-outlet>
</div>

