<div
  class="col-md-offset-4 col-md-4 m-auto"
  style="margin-top: 25px!important;"
>
  <h3>Hiditra amin'ny alalan'ny kaontiko :</h3>
  <mdb-card>
    <button
      mdbBtn
      type="button"
      (click)="socialSignIn('facebook')"
      color="primary"
      mdbWavesEffect
    >
      Facebook
    </button>
    <button
      mdbBtn
      type="button"
      (click)="socialSignIn('google')"
      color="default"
      mdbWavesEffect
    >
      Google
    </button>
    <button
      mdbBtn
      type="button"
      (click)="socialSignIn('linkedin')"
      color="secondary"
      mdbWavesEffect
    >
      Linkedin
    </button>
  </mdb-card>
</div>
