/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;
  background: white !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.koti-action .card {
  position: relative;
  margin: auto;
  background: transparent;
  box-shadow: none;
}

.koti-action {
  margin-top: 10% !important;
  background: red;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.koti-round-btn {
  border-radius: 50% !important;
  display: inline-block;
  margin: 5px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}
